修改环境变量参数
```
# 这里可以不用改，或者用最新的商业版本/自己的打包镜像
DOCKER_IMAGE_VERSION=0.0.1
DOCKER_IMAGE_BACKEND_NAME=artisan-cloud/brainx-backend-app
DOCKER_IMAGE_FRONTEND_NAME=artisan-cloud/brainx-frontend-app
DOCKER_IMAGE_GATEWAY_NAME=artisan-cloud/brainx-gateway-app

# 工具的版本
PYTHON_VERSION=3.12.2-slim
POETRY_VERSION=1.8.2

# 按照实际的环境，设置你的应用端口
DATABSE_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
GATEWAY_PORT=8080

# ollama的端口
OLLAMA_PORT_1=11434
OLLAMA_DATA_1=docker-data/ollama_data_1
OLLAMA_PORT_2=11435
OLLAMA_DATA_2=docker-data/ollama_data_2

# 系统cache目录
CACHE_FOLDER='~/.cache/'
# 自建model目录，用于模型下载后，放入自定义模型管理目录
# 如果backend里的.env，设置的相关模型保持默认的存储位置，那么这里可以忽略。
MODEL_FOLDER='~/brainx/model/'