UVICORN_WORKER_COUNT=1
BACKEND_CORS_ORIGINS='["http://localhost", "http://localhost:8000", "http://localhost:3000", "http://127.0.0.1:3000", "https://brain-x-backend.artisancloud.cn", "https://brain-x-frontend.artisancloud.cn"]'

ENVIRONMENT=local
SERVER_RENDER=false

DATABASE_URL=postgresql://user:password@127.0.0.1:5432/brain_x

EMBEDDING_MODEL_NAME=shibing624/text2vec-base-chinese
OPENAI_QA_LLM_NAME='gpt-3.5-turbo'
OPENAI_API_BASE=https://api.xxx
OPENAI_API_KEY=sk-xxx
QA_LLM_MODEL_TYPE=default
QA_LLM_MODEL_NAME='gemma:2b'
LLM_REQUEST_TIMEOUT=120

POLYGON_API_KEY=Kjr-xxx

# OLLAMA
OLLAMA_URL=http://localhost:11434