UVICORN_WORKER_COUNT=1
BACKEND_CORS_ORIGINS='["http://localhost", "http://localhost:8000", "http://localhost:3000", "http://127.0.0.1:3000", "https://brain-x-backend.artisancloud.cn", "https://brain-x-frontend.artisancloud.cn"]'

ENVIRONMENT=local
SERVER_RENDER=false

DATABASE_URL=postgresql://user:password@127.0.0.1:5432/brain_x

OPENAI_API_BASE=https://api.xxx
OPENAI_API_KEY=sk-xxx

POLYGON_API_KEY=Kjr-xxx

EMBEDDING_MODEL_NAME=shibing624/text2vec-base-chinese