UVICORN_WORKER_COUNT=1
BACKEND_CORS_ORIGINS='["http://localhost", "http://localhost:8000", "http://localhost:3000", "http://127.0.0.1:3000", "https://brain-x-backend.artisancloud.cn", "https://brain-x-frontend.artisancloud.cn"]'

ENVIRONMENT=local
SERVER_RENDER=false

DATABASE_URL=postgresql://user:password@127.0.0.1:5432/brain_x

# Models
QA_MODEL_NAME=shibing624/text2vec-base-chinese
VISUAL_SEARCH_MODEL_NAME=clip-ViT-L-14
VISUAL_QUERY_MODEL_NAME=dandelin/vilt-b32-finetuned-vqa

OPENAI_LLM_NAME='gpt-3.5-turbo'
OPENAI_API_BASE=https://api.xxx
OPENAI_API_KEY=sk-xxx

LLM_REQUEST_TIMEOUT=120

# OLLAMA
OLLAMA_URL=http://localhost:11434
QA_LLM_MODEL_TYPE=default
QA_LLM_MODEL_NAME='gemma:2b'

POLYGON_API_KEY=Kjr-xxx